.description {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.main-section {
  padding-left: 15%;
  padding-right: 15%;
}

.image-item {
  width: 100%;
  height: auto;
}

.heading {
  text-align: center;
}