<mat-card class="account-card" appearance="outlined" [style.background-color]="accountService.getBackgroundColor(account().color)">

    <mat-card-header>
        <mat-card-title (click)="goToAccountDetail(account().id ?? 0)">{{ account().name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            @if (account().goal_amount > 0) {
                <mat-list-item>
                    <mat-icon matListItemIcon fontIcon="flag"></mat-icon>
                    <span matListItemTitle>{{ amount() }}</span>
                </mat-list-item>
            }

            @if (account().budget_percentage > 0) {
                <mat-list-item>
                    <mat-icon matListItemIcon fontIcon="donut_large"></mat-icon>
                    <span matListItemTitle>{{ account().budget_percentage | percent: "1.2-2": configuration?.locale }}</span>
                </mat-list-item>
            }

            @if (account().include_on_summary_section) {
                <mat-list-item>
                    <mat-icon matListItemIcon fontIcon="check"></mat-icon>
                    <span matListItemTitle>Summary Section</span>
                </mat-list-item>
            }

            @if (account().include_on_total_amount) {
                <mat-list-item>
                    <mat-icon matListItemIcon fontIcon="check"></mat-icon>
                    <span matListItemTitle>Total Amount</span>
                </mat-list-item>
            }            
            
        </mat-list>
        <p>{{ account().goal_description }}</p>
    </mat-card-content>
  
    <mat-card-actions>
        <app-account-actions [account]="account()"></app-account-actions>
    </mat-card-actions>
  
</mat-card>