<h1>Dashboard</h1>

<section>
    @if (dashboard) {
        @if (dashboard.total_amount == 0) {
            <h1>No data available</h1>
            <p>
                You do not have data to process and get relevant information.
            </p>
            @if (dashboard.accounts.length < 1) {
                <a matButton routerLink="/wimm/accounts/create">Add account</a>
            } @else {
                <a matButton routerLink="/wimm/transactions/create">Add transaction</a>
            }
        } @else {
            <div class="metric-card-grid">
                <app-metric-card metricName="Available Amount" [metricValue]="dashboard.total_amount | currency: configuration?.currency : configuration?.currency_display : '1.2-2' : configuration?.locale" [color]=2></app-metric-card>
                
                @for (account of dashboard.accounts; track account.id) {
                    <app-metric-card [metricName]="account.name" [metricValue]="account.amount | currency: configuration?.currency : configuration?.currency_display : '1.2-2' : configuration?.locale" [color]="account.color"></app-metric-card>

                    @if (account.goal_amount > 0) {
                        <app-metric-card [metricName]="`${account.name} Goal Status`" [metricValue]="`${account.amount * 100 / account.goal_amount}%`" [color]="account.color"></app-metric-card>
                    }
                }

                <app-metric-card metricName="Budget Usage" [metricValue]="`${dashboard.total_budget}%`" [color]=2></app-metric-card>
            </div>            
            
            <div class="summary-chart-grid">
                @for (account of dashboard.accounts; track account.id) {
                    <div class="summary-chart-container">
                        <app-summary-chart [accountName]="`${account.name} (${account.budget_percentage}%)`" [accountId]="account.id" [color]="account.color"></app-summary-chart>
                    </div>
                }
            </div>
        }
    } @else {
        <app-loading-spinner loadingMessage="Loading recipe data.."></app-loading-spinner>
    }
</section>