.account-card-grid {
    display: grid;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 250px));
}

.action-button {
    margin-right: 15px
}